


#box1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    
}
#box2{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}
#box3{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}
#box4{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}


